.motionMenu{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(14 20 26 / var(--tw-bg-opacity));
  z-index: 1;
}
.menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 4%;
}
.menuListItem{
  list-style-type: none;
  width: 100%;
}
.menuItem{
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: var(--color-light-700);
}
.listButton{
  width: 100%;
  justify-content: space-between;
}
.classNameRoot{
  align-items: start;
}
.menuItemSuitGroup{
  color: var(--color-light-700);
}
.backMenuButton{
  width: 100%;
  align-items: center;
  justify-content: start;
}
.classNameRootBack{
  display: flex;
  flex-direction: column;
}