.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3vh;
  margin-top: 2vw;
}
.containerWithWidth{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3vh;
}
@media screen and (max-width: 720px){
  .containerWithWidth{
    width: 150px;
  }
}