.container{
  background-color: black;
}
.textContainer{
  margin: 0;
  height: auto;
  background:transparent; // прозрачный фон
  padding: 0;
  border:none;
  cursor: pointer;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  color: transparent; // прозрачный
  -webkit-text-stroke: 1px rgba(255,255,255,0.6)
}
.hoverText{
  position: absolute;
  white-space: nowrap;
  box-sizing: border-box;
  color: var(--color-accent-500);
  width:0%;
  inset:0;
  border-right: 6px solid var(--color-accent-500);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--color-accent-500);
}
.textContainer:hover .hoverText{
  width: 100%;
  filter: drop-shadow(0 0 23px var(--color-accent-500))
}