.headerSlogan{
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(14 20 26 / var(--tw-bg-opacity));
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sloganTitle{
  color: var(--color-light-500);
  font-weight: var(--font-weight-medium);
  padding-left: 2%;
}
@media (max-width: 720px) {
  .headerSlogan{
    display: flex;
    align-items: center;
    padding: 5px;

  }
  .sloganTitle{
    width: 100%;
  }
}