.headerSlogan{
  width: 100%;
  background: var(--color-dark-900);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sloganTitle{
  color: var(--color-light-500);
  font-weight: var(--font-weight-medium);
  padding-left: 2%;
}
@media (max-width: 720px) {
  .headerSlogan{
    background: var(--color-dark-900);
    display: flex;
    align-items: center;
    padding: 5px;

  }
  .sloganTitle{
    width: 100%;
  }
}